/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item + .header__item {
  margin-left: 45px;
}

.header__top--btn {
  padding: 20px 40px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F05670;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
}

.header__bottom {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  max-width: 222px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
}

.header__param {
  max-width: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3C3C3C;
}

.header__button {
  padding: 24px;
  margin-top: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #F05670;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__section {
  background: #1E959B;
}

.interview__section {
  padding-top: 100px;
}

.interview__item {
  max-width: 200px;
  text-align: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  padding: 18px 22px;
}

.interview__item:hover {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
}

.interview__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list__param {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.interview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.interview__title {
  max-width: 385px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
}

.interview__param {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3C3C3C;
  max-width: 300px;
}

.interview__btn {
  padding: 25px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F05670;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.button__hover:hover {
  box-shadow: 0px 5px 10px rgba(21, 235, 246, 0.5);
  border-radius: 20px;
}

.project__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project__list + .project__list {
  margin-top: 45px;
}

.project__title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
}

.project__item {
  max-width: 320px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  text-align: center;
}

.project__item:hover {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
}

.project__span {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
  margin: 0 auto;
}

.project__param {
  max-width: 230px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.project__btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 233px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E959B;
  border-radius: 20px;
  background: #FFFFFF;
  border-color: #1E959B;
}

.project__btn:hover {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
}

.line__section {
  margin-top: 170px;
  position: relative;
}

.line__item {
  padding-top: 170px;
  width: 324px;
  padding-bottom: 35px;
  position: absolute;
  top: -120px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  position: relative;
  border-radius: 30px;
}

.line__item:hover {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
}

.line__span {
  display: block;
  text-align: center;
  margin-top: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1E959B;
}

.line__param {
  margin-top: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.line__button {
  display: block;
  width: 206px;
  padding-top: 23px;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 31px auto;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F05670;
  border-radius: 20px;
  border: none;
}

.line__img {
  position: absolute;
  top: -42px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.line__button:hover {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
}

.line__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.last__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.last__btn {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 330px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F05670;
  border-radius: 20px;
  border: none;
}

.last__btn:hover {
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__strong {
  display: block;
  width: 280px;
  margin-left: 25px;
}

.img__item {
  display: flex;
  align-items: center;
}

.footer__img + .footer__img {
  margin-left: 22px;
}

.footer__span {
  display: block;
  margin-left: 8px;
}

.footer__span {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
}

.footer__flex {
  display: flex;
  align-items: center;
}

.footer__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E959B;
}

.footer__link + .footer__link {
  margin-top: 20px;
}

.footer__bottom {
  text-align: center;
  margin-top: 20px;
}

.bottom__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(60, 60, 60, 0.5);
}

footer {
  margin-top: 100px;
}

@media only screen and (max-width: 1120px) {
  .footer__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
@media only screen and (max-width: 1045px) {
  .line__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 875px) {
  .need {
    display: none;
  }
  .last__list {
    flex-direction: column;
    justify-content: center;
    gap: 65px;
  }
  .line__item {
    background-color: #1E959B;
    z-index: 1;
  }
  .header__top {
    justify-content: space-around;
  }
  .bottom__img {
    max-width: 300px;
  }
  .header__button {
    padding: 14px;
  }
  .header__text {
    margin-left: 45px;
  }
  .interview {
    flex-direction: column;
  }
  .interview__text {
    text-align: center;
  }
  .interview__param {
    margin: 0 auto;
    margin-top: 20px;
  }
  .project__list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .partners__img1,
.partners__img5 {
    display: none;
  }
  .interview__item--block {
    display: none;
  }
  .interview__photo {
    width: 500px;
    height: 400px;
  }
}
@media only screen and (max-width: 620px) {
  .header__bottom {
    flex-direction: column;
  }
}
@media only screen and (max-width: 535px) {
  .none {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__bottom {
    flex-direction: column;
    margin: 0 auto;
  }
  .header__title {
    margin: 0 auto;
  }
  .header__text {
    text-align: center;
  }
  .bottom__img {
    max-width: 300px;
  }
  .partners__img1 {
    display: block;
    margin: 0 auto;
  }
  .partners__img2,
.partners__img3,
.partners__img4 {
    display: none;
  }
  .interview__item--need {
    display: none;
  }
  .interview__item {
    margin: 0 auto;
  }
  .interview__photo {
    width: 350px;
    height: 300px;
    margin: 0 auto;
  }
  .interview__btn {
    width: 220px;
  }
  .greed {
    display: none;
    margin: 0 auto;
  }
  .line__item {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */